<!-- Sección superior con gradiente y encabezado -->
<div class="bg-gradient py-5" style="background: linear-gradient(90deg, rgba(20,172,155,0.936) 12%, rgba(243,255,45,1) 70%);">
    <div class="container text-center">
        <h1 class="display-4 font-weight-bold text-black mb-4">SOMOS <span class="text-danger">LEONMEE</span></h1>
        <p class="lead text-white">La mejor opción en perfumes nacionales y europeos</p>
    </div>
</div>

<!-- Sección inferior con gradiente y contenido -->
<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="bg-white rounded-lg shadow-sm p-4 h-100">
                    <p class="text-muted">
                        En LEONMEE, nos enorgullece ofrecerte una experiencia única en perfumes. Somos una boutique de fragancias que se especializa en perfumes nacionales y europeos de la más alta calidad. Con una amplia selección de fragancias exquisitas, desde clásicas hasta modernas, estamos seguros de tener el perfume perfecto para cada ocasión y gusto.
                    </p>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="bg-white rounded-lg shadow-sm p-4 h-100">
                    <h2 class="h4 font-weight-bold text-dark mb-3">En qué nos destacamos</h2>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <i class="fas fa-check text-primary mr-2"></i>Calidad de productos: Nos dedicamos a ofrecer solo perfumes de la más alta calidad, tanto nacionales como europeos.
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-check text-primary mr-2"></i>Variedad de selección: Contamos con una amplia gama de fragancias, desde clásicas hasta modernas, para satisfacer todos los gustos.
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-check text-primary mr-2"></i>Experiencia personalizada: Nuestro equipo está comprometido a brindarte una atención personalizada y asesoramiento experto para ayudarte a encontrar el perfume perfecto.
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-check text-primary mr-2"></i>Precios competitivos: Ofrecemos precios competitivos para que puedas disfrutar de tus fragancias favoritas sin romper tu presupuesto.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
